body{
    background-size: cover;
}
.heading{
    font-size:24px;
    width:100%;
    margin:0px;
}
.note{
    font-size:16px;
}
.div_speed {
    float:left;
}
.div_speed_img{
    height:300px;
    border-radius:100px;
}
.div_volume{
    float:right;
}
.div_volume_img{
    height:300px;
    border-radius:100px;
}
.play_button{
    width: 120px;
    font-size:24px;
}
canvas{
    margin-top:25px;
    margin-left:100px;
    border:7px ridge whitesmoke ;
}